@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* React PDF styles */
.react-pdf__Page {
  position: relative;
}

.react-pdf__Page__textContent {
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

.react-pdf__Page__textContent span {
  color: transparent;
  position: absolute;
  white-space: nowrap;
  cursor: text;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

.react-pdf__Page__textContent .textLayer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  opacity: 0.2;
  line-height: 1;
}

.react-pdf__Page__annotations {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.react-pdf__Page__annotations .annotationLayer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
